@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>

<p>
    <strong>Message:</strong> <code>@Model.Message</code><br>
    <strong>StackTrace:</strong> <code>@Model.StackTrace</code>
</p>

